form{display:block;width:600px;max-width:90%;margin:20px auto;padding:10px;background:aliceblue;border:5px solid slategray}
label{display:flex;margin:10px 0px;flex-direction:column;}
label > *{flex:1;}
label > span{font-weight:600}
textarea{resize:vertical;min-height:200px}
input,textarea{padding:7px;border-radius:5px}
input[type="submit"]{padding:5px 10px;font-weight:600;text-transform:uppercase}